<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 加载Log4j -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 配置实体包 -->
    <typeAliases>
        <package name="cn.edu.jit.entry"/>
    </typeAliases>

</configuration>
