@media  screen and (min-width: 200px) {
    .box1{
        /*border:1px solid red;*/
        height: 300px;
        width: 500px;
    }
}
.box1{
    position: relative;
    top:150px;
    margin-left:300px;
    margin-right: 300px;
    margin: 0px auto;
    /*font-family: "微软雅黑 Light";*/
}

#button{
    color: white;
    background: lightskyblue;
    font-size: 18px;
    /*float: right;*/
    margin-top: 40px;
    margin-left: 20px;
}
.strong {
    margin-top: 80px;
}
.strong p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 0;
    position: relative;
}
.strong p span{
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    padding:0;
    margin:0;
    width:94px;
    height:20px;
    background: #f9d194;
    font-size: 13px;
    color:#fff;
    text-align: center;
    line-height: 20px;
}
#strongthTip{
    background: #60ff40;
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: black;
    margin-left: 40px;
    position: relative;
    top:20px;
}
.strong p span.hover{
    background: #f97101;
}
.strong p.active span:nth-child(2){
    background: #f97101 ;
}
.strong p.active1 span{
    background: #f97101;
}

/*#logout_btn{*/
    /*color: white;*/
    /*background: lightskyblue;*/
    /*font-size: 18px;*/
    /*float: left;*/
    /*margin-top: 0px;*/
    /*margin-left: 50px;*/
/*}*/
