/*文件选择按钮*/
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileinput-button input{
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
}

/*目录div*/
.wjj_div{
    margin-left: 10px;
}

.notediv{
    height:20px;
    margin-top: 10px;
}

.notediv a{
    margin-top: 10px;
    margin-left: 40px;
    font-size: 13px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    color: #337ab7
}




/** loading **/

#loading
{
    position:fixed;
    top:40%;
    left:45%;
    z-index:999;
}