
/*动态粒子效果css*/
/*body {*/
/*font-family: Helvetica Neue, "Microsoft Yahei", "微软雅黑", Helvetica, SimSun, SimHei;*/
/*font-size: 16px;*/
/*color: #666;*/
/*}*/
a {
    color: #888;
    text-decoration: none;
    /*border-bottom: 1px solid #ccc;*/
}

.body--ready {
    background: -webkit-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -moz-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -o-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: -ms-linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
    background: linear-gradient(top, rgb(203, 235, 219) 0%, rgb(55, 148, 192) 120%);
}

.body--ready .overlay {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
    opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: -moz-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
    opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: -ms-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
    opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: -o-transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
    opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: transform 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1),
    opacity 0.7s cubic-bezier(0.694, 0.0482, 0.335, 1);
}


/*第二部分*/
.data-manager {
    width: 100%;
    height: 100%;
    background-color: #f5fcff;
    padding-top: 113px;
    padding-bottom: 78px;
}

.data-manager h2 {
    margin-bottom: 76px;
    max-width: 500px;
    display: inline-block;
}

.data-manager h3 {
    font-size: 24px;
    color: #448aff;
    font-weight: normal;
    margin-top: 19px;
    margin-bottom: 18px;
}

.data-manager p {
    height: 140px;
    max-width: 243px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: #666;
}

@media (max-width: 768px) {
    .data-manager {
        padding-top: 36px;
        padding-bottom: 12px;
    }

    .data-manager h2 {
        font-size: 20px;
        max-width: 310px;
        margin: 0 -5px 40px;
    }

    .data-manager h3 {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .data-manager p {
        height: 120px;
        padding: 0;
        line-height: 24px;
        font-size: 14px;
    }

    .data-manager img {
        width: 26px;
    }
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, "Microsoft Yahei", "微软雅黑", Helvetica, SimSun, SimHei;
    font-size: 16px;
    color: #666;
}



body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #448aff;
}

a, button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a:hover, a:active {
    color: #135dd8;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-nav-collapse:before, .navbar-nav-collapse:after, .navbar-nav:before, .navbar-nav:after, .row:before, .row:after {
    content: "";
    display: table;
}

.navbar-nav, .row:after {
    clear: both;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin:0 auto;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.text-center {
    text-align: center;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
    width: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}


@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }
}

.navbar {
    width: 100%;
    height: 78px;
    position: absolute;
    z-index: 100;
    opacity: 1;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.navbar-header {
    float: left;
    padding-left: 60px;
}

.navbar-brand {
    display: inline-block;
    margin-top: 15px;
    width: 136px;
    height: 48px;
    background-image: url("#");
    background-repeat: no-repeat;
}

.navbar-white .navbar-brand {
    background-image: url("#");
}

.navbar-toggle-collapse {
    display: none;
}

.navbar-nav-collapse {
    overflow: hidden;
}

.navbar-nav {
    list-style: none;
    overflow: hidden;
    padding-right: 15px;
}

.navbar-right {
    float: right;
}

.navbar-nav li {
    float: left;
    height: 78px;
    padding-top: 24px;
    margin-right: 15px;
}

.navbar-nav li a {
    display: inline-block;
    color: #fff;
    padding: 3px 12px;
}

.navbar-nav li a:hover, .navbar-nav .active {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    filter: Alpha(opacity=20) \9;
    background: #fff \9;
}

.navbar-nav li a span {
    position: relative \9;
}

.navbar-white {
    background: rgba(255, 255, 255, 0.9);
    filter: Alpha(opacity=10) \9;
    background: #fff \9;
}

.navbar-white .navbar-nav li a, .navbar-white .navbar-login, .navbar-white .navbar-login:hover, .navbar-white .navbar-login:active, .navbar-white .navbar-search {
    color: #666;
}

.navbar-nav li a {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.navbar-white .navbar-nav li a:hover, .navbar-white .navbar-nav .active {
    color: #448aff;
    background: none;
}

.navbar-toggle {
    float: right;
    cursor: pointer;
}


@media (max-width: 1023px) {
    .navbar-nav li {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar-toggle {
        background: rgba(255, 255, 255, 0.2);
        filter: Alpha(opacity=20) \9;
        background: #fff \9;
        width: 36px;
        height: 36px;
        border: none;
        margin-top: 4px;
        margin-right: 13px;
        border-radius: 2px;
        outline: none;
        padding-top: 8px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .icon-bar {
        display: block;
        width: 100%;
        border-top: 3px solid #EBF1FC;
        border-radius: 2px;
        margin-bottom: 6px;
        position: relative \9;
        -webkit-transition: width 0.2s, margin-left 0.2s;
        -moz-transition: width 0.2s, margin-left 0.2s;
        -ms-transition: width 0.2s, margin-left 0.2s;
        -o-transition: width 0.2s, margin-left 0.2s;
        transition: width 0.2s, margin-left 0.2s;
    }

    .navbar-white .navbar-toggle {
        background: none;
    }

    .navbar-white .icon-bar {
        border-top: 3px solid #666;
    }

    .navbar-toggle-collapse {
        display: block;
    }

    .navbar-nav-collapse {
        /*display: none;*/
        /*visibility: hidden;*/
    }

    .navbar-header {
        width: 100%;
    }

    .navbar {
        height: 44px;
    }

    .navbar-header {
        padding-left: 11px;
    }

    .navbar-brand {
        display: inline-block;
        margin-top: 11px;
        width: 84px;
        height: 21px;
        background-image: url("#");
        background-size: cover;
    }

    .navbar-white .navbar-brand {
        background-image: url("#");
    }

    .navbar-nav-collapse {
        overflow: inherit;
    }

    .navbar-right {
        float: inherit;
    }

    .navbar-nav {
        background: rgba(255, 255, 255, 0);
        filter: Alpha(opacity=100) \9;
        background: #fff \9;
    }

    .navbar-nav {
        /*padding-top: 10px;*/
        max-height: 300px;
        height: 0;
        -webkit-transition: height 0.2s, background 0.2s;
        -moz-transition: height 0.2s, background 0.2s;
        -ms-transition: height 0.2s, background 0.2s;
        -o-transition: height 0.2s, background 0.2s;
        transition: height 0.2s, background 0.2s;
    }
    /*下拉导航栏*/
    .show .navbar-nav {
        height: 150px;
        background: rgba(255, 255, 255, 0.9);
        filter: Alpha(opacity=10) \9;
        background: #fff \9;
    }

    .navbar-nav li:first-child {
        margin-top: 10px;
    }

    .navbar-nav li {
        float: inherit;
        height: 34px;
        padding-top: 0;
        text-align: right;
    }

    .navbar-nav li a {
        padding: 3px 5px 12px 5px;
    }

    .navbar-login, .navbar-login:hover, .navbar-login:active, .navbar-search {
        width: auto;
        color: #fff;
    }

    .navbar-login {
        font-size: 12px;
        padding-top: 0;
        line-height: 36px;
    }

    .navbar-white .navbar-nav li a:hover, .navbar-white .navbar-nav .active {
        color: #135dd8;
    }

    .show .icon-bar:nth-child(2) {
        width: 85%;
        margin-left: 15%;
    }

    .show .icon-bar:nth-child(3) {
        width: 70%;
        margin-left: 30%;
    }

    .show .navbar-nav-collapse {
        /*display: block;*/
        /*visibility: visible;*/
    }
}

h2, h3, h4 {
    color: #448aff;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }
}
/*GLOBALS*/
*{
    margin: 0;
    padding: 0;
}

.mooc-box {
    position: relative;
    /*padding: 0 10px;*/
    width: 100%;
    height:500px;
    background: url("/images/index_footer.jpg") no-repeat center center;

}

.mooc-box p {
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 30%;
    text-align: center;
    left: 0
}

.mooc-box h2 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 40%;
    font-size: 48px;
    font-weight: 400;
    left: 0
}

.mooc-box a {
    width: 140px;
    height: 40px;
    display: block;
    left: 50%;
    margin-left: -70px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    line-height: 40px;
    background: #0692E1;
    color: #ffffff;
    border-radius: 4px
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .mooc-box p {
        font-size: 10px;
        top: 14%;
        left: 0
    }

    .mooc-box h2 {
        font-size: 15px;
        top: 12%;
        left: 0
    }

    .mooc-box a {
        height: 24px;
        bottom: 12%;
        line-height: 24px;
        font-size: 12px;
        width: 80px;
        margin-left: -40px
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .mooc-box p {
        top: 20%
    }

    .mooc-box h2 {
        top: 26%
    }
}
/*页脚*/
div.footer {
    background-color: rgba(36, 36, 36, 0.78);
    height: 140px;
    width: 100%;
    margin: 0 auto;
    /*margin-top: 20px;*/
}

div.footer_text {
    color: #999;
    line-height: 25px;
    text-align: center;
    /*margin-top: 10px;*/
}

a.footer {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: green
}